.team-header{
   
    height:450px;
    
    opacity:.75;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    margin:0;
    width:100%;
}
.clubLogo{
    width:15%;
    margin-top: 150px;
}
@media (max-width:500px){
    .clubLogo{
        width:40%;
        margin-top: 150px;
    }
} 
@media (min-width:501px) and (max-width:991px){
    .clubLogo{
        width:25%;
        margin-top: 150px;
        }
} 
